.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0em 0 0.5em 0;
}

.form-field {
  padding: 1rem !important;
}

.button-class {
  margin: 1rem;
}

.table {
  width: 100%;
}
.error-message {
  text-align: center;
  font-size: 1.25rem;
  color: red;
}
.card-sub-title {
  font-size: 1.2rem;
  font-weight: 900;
  color: #38373770;
}
